DB_NAME=myDB
DB_USER=user
DB_PASSWORD=user-pass
DB_ROOT_PASSWORD=db-root
JWT_SECRET=jwt-secret
JWT_DURATION=900
CORS_ORIGIN=http://localhost:81
SWAGGER_SERVER_URL=http://localhost:3001
VITE_API_URL=http://localhost:3001/api
BACKEND_PORT=3001
FRONTEND_PORT=81